body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading {
    margin-bottom: 20px;
}

.form-signin .form-signin-heading,
.form-signin .form-signin-bottom {
    text-align: center;
}

.form-signin .form-signin-bottom {
    margin-top: 20px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
}

.form-signin .form-control:focus {
  z-index: 2;
}


.icon {
    font-size: 40px;
}