/**
 * nTools Template
 *
 * @package     public
 * @subpackage  css
 * @category    stylesheet
 * @author      João Paulo Angeleti de Souza <joaopauloasouza@hotmail.com>
 *
 * Copyright 2016 @viborate
 *
 */



/**
 * Global Styles
 */

body {
    overflow-x: hidden;
    padding-top: 50px;
}


select option {
    color: black;
}
select option:first-child {
    color: grey;
}
select.empty {
    color: grey;
}
/* Hidden placeholder */
select option[disabled]:first-child {
    display: none;
}



/**
 * Toggle Styles
 */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    top: 51px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}



/**
 * Sidebar Styles
 */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li.active a {
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 50px;
    font-size: 18px;
    line-height: 50px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}


/**
 * Menu Toggle Button
 */

#menu-toggle {
    margin-right: 0px;
    margin-left: 15px;
    float: left;
}



/**
 * Input Search Inner Icon
 */

/* enable absolute positioning */
.inner-addon {
    position: relative;
}



/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}



/* style fa */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align fa */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}



/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }



/**
 * Sidebar Icons
 */

.sidebar-nav li a .fa,
.sidebar-nav li a .glyphicon {
    float: left;
    text-indent: 20px;
    line-height: 40px;
}




/**
 * Toolbar Styles
 */

.horizontal-space {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

.form-group-toolbar {
    margin-bottom: 10px;
}

.btn-group-toolbar {
    margin-bottom: 0px;
}




ul.content-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.content-list>li {
    font-size: 15px;
    color: #5c5c5c;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    display: block;
    margin: 0;
}

ul.content-list>li a {
    color: #333;
}

ul.content-list>li .controls {
    float: right;
    margin-left: 15px;
}

ul.content-list>li .title {
    font-weight: 600;
}

.projects-list,
.project-row {
    border-color: #f0f0f0;
}

.projects-list .project-row .controls {
    line-height: 42px;
}



.dash-project-avatar {
    float: left;
}

.avatar {
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 38px;
    margin-right: 15px;
    color: #555;
    background-color: #eee;
    border-radius: 50px;
    border: 1px solid #555;
    text-align: center;
    vertical-align: top;
}

.title {
    vertical-align: middle;
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    #menu-toggle {
        margin-right: 15px;
        margin-left: 0px;
    }

    .form-group-toolbar {
        margin-bottom: 0px;
    }

    .btn-group-tollbar {
        margin-bottom: 0px;
    }

}



@media(max-width:1200px) {
    .form-group-toolbar {
        margin-bottom: 10px;
    }

    .btn-group-toolbar {
        margin-bottom: 10px;
    }
}